<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EarnZ | Home</title>
    <!-- Add icon of this webapp -->
</head>
<body>
    <%- include ("Core part/header.ejs")%>
    <%- include ("Home/section.ejs")%>
    <%- include ("Core part/footer.ejs")%>
</body>
</html>