<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Core part/css/Footer.css">
    <link rel="stylesheet" href="earnz-1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
<footer class ="footer">
    <div class = "container">
        <div class = "row">
            <div class ="footer-col">
                <h4>COMPANY_NAME</h4>
                <ul>
                    <li>
                        <a href="#"><i class = "fab fa-linked-in"></i></a>
                        <a href="#"><i class = "fab fa-twitter"></i></a>
                        <a href="#"><i class = "fab fa-instagram"></i></a>
                        <a href="#"><i class = "fab fa-facebook-f"></i></a>
                    </li>
                </ul>
             </div>
            <div class ="footer-col">
                <h4> Use Cases</h4>
                <ul>
                    <li><a href="#">ui design</a></li>
                    <li><a href="#">ux design</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                </ul>
            </div>
            <div class ="footer-col">
                <h4>Explore</h4>
                <ul>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                </ul>
            </div>
            <div class ="footer-col">
                <h4>Resources</h4>
                <ul>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                </ul>
            </div>
            <div class ="footer-col">
                <h4>Compare</h4>
                <ul>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                    <li><a href="#">anything</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer code here -->
    <!-- Your js file location is in public folder as Core part/js/Footer.js -->
</footer>
</body>
</html>
